{:aliases {:repl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}
                               reagent/reagent {:mvn/version "0.8.0-alpha2"}
                               re-frame/re-frame {:mvn/version "0.10.2"}}}}}
